backend/uploads/
backend/.env
backend/run-backend.ps1
CLOUDINARY_CLOUD_NAME=pfxcho0m
CLOUDINARY_API_KEY=434518899927229
CLOUDINARY_API_SECRET=B4F-N_k7PVl3x16W4jTjJ7UVCoU
META_INSTAGRAM_USER_ID=17841425870452180
META_PAGE_ACCESS_TOKEN=EAAWN1yfIS9oBSFXkq1AjJqkg7kJrQkBmHv0RAhyZAT58Y1OnsGmZBx1ZBA9YKa6j9KuquWisNW5bJlQOTr5UOuNZAwh87eCtusgvB3ZAFROsHAuPttvc0fgXnBVIutPaWAETdJgL30nejy5M4niHVb4QbF0IvZBc8fiW9pQQLDTbClnwrL2ZAYm9ZBwlUIo7h9dlw6FZB

META_GRAPH_API_BASE_URL=https://graph.facebook.com/v25.0
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/social_content_manager?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=Stav1706@
SPRING_PROFILES_ACTIVE=production
SERVER_PORT=8081
