CLOUDINARY_CLOUD_NAME=pfxcho0m
CLOUDINARY_API_KEY=434518899927229
CLOUDINARY_API_SECRET=B4F-N_k7PVl3x16W4jTjJ7UVCoU
META_INSTAGRAM_USER_ID=17841425870452180
META_PAGE_ACCESS_TOKEN=EAAWN1yfIS9oBSOrLXlqfUc4FAsX8LZAeVM2AZCtQz6nd3ZAj10ZCCnafP2WDv9LAkIevRlGA5qph2GZCkmBEddHe6sNhFNvoTh0z5I2Bhp2G9elGlcZC3RQrTKIe9Wn7V2kAIx91NuresfeZCCcZCg5sZCuLxTZBcM6IVuwkeF3Jpi9vaCKEZBVRzlX0kTUwBRXX6SAGs0X

META_GRAPH_API_BASE_URL=https://graph.facebook.com/v25.0
SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/social_content_manager?useSSL=false&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=
SPRING_PROFILES_ACTIVE=production
SERVER_PORT=8081
